
useDynLib(overlap, densRad)

export(bootEst, densityPlot, densityFit, getBandWidth, resample,
  overlapTrue, overlapEst, overlapPlot, norm.inter, bootCI, bootCIlogit)

# Not exported: rejectSampleRad, 

