
useDynLib(overlap, densRad)

export(bootEst, densityPlot, densityFit, getBandWidth, nonparResample, parResample,
  overlapTrue, overlapEst, overlapPlot, norm.inter, bootCI, bootCIlogit)

# Not exported: rejectSampleRad, 

